@font-face {
   font-family: 'armyrangers';
   src: url('armyrangers/font.ttf');
}
@font-face {
   font-family: 'COOPBL';
   src: url('COOPBL/font.TTF');
}
@font-face {
   font-family: 'FELIXTI';
   src: url('FELIXTI/font.TTF');
}
